<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiHash" value="xXXX"/>
    <add key="ApiId" value="XXXX"/>
    <add key="NumberToAuthenticate" value="+xXXxX"/> 
    <add key="CodeToAuthenticate" value=""/> 
    <add key="VKFID" value="XXXXx"/> 
  </appSettings>
</configuration>