<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiHash" value="e54eb14509f7bcc5602a1b7c7b7488aa"/>
    <add key="ApiId" value="1858476"/>
    <add key="NumberToAuthenticate" value="+79179037140"/> CodeToAuthenticate
    <add key="CodeToAuthenticate" value=""/> 
    <add key="VKFID" value="1858476"/> 
  </appSettings>
</configuration>